<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>battle</title>
</head>
<body>
  <div th:each="message : ${battleLog}">
    <div th:text="${message}"></div>
    <script type="text/javascript">
      function sleep(waitSec, callbackFunc) {
        var spanedSec = 0;
        var id = setInterval(function () {
          spanedSec++;
          if (spanedSec >= waitSec) {
            clearInterval(id);
            if (callbackFunc) callbackFunc();
          }
        }, 1000);
      }
      sleep(1, function () {});
    </script>
  </div>
  <form action="#" th:action="@{/battleofmonster}" th:object="${battleForm}" method="get">
    <input type="submit" value="バトル終了" />
  </form>
</body>
</html>